custom-button {
    width: 33%;
    border-radius: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    button{
        padding: 0px !important;
        width: 100% !important;
        .button-inner{
            color: $white !important;
            justify-content: center;
            font-size: 2.7vw;
            ion-icon{
                padding-right: 4px;
                
            }
        }
    }
}
