info-card {
    display:flex;
    justify-content: center;
    width: 33%;
    ion-card{
        width: 90% !important;
        margin:0px 0px 10px 0px !important;
        border-radius: 5px !important;
        &.card-ios {
            margin: 0px 0px 10px 0px;
        }
        .text-content {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2vw;
            padding: 3px;
        }
    }
}
