<!-- Generated template for the InfoCardComponent component -->
<ion-card>
  <img src={{cardData.image}}>
  <span class="text-content" *ngIf="this.detailsService.getLang() === 'ar'">{{cardData.name}}</span>
  <span class="text-content" *ngIf="this.detailsService.getLang() === 'en'">{{cardData.nameEn}}</span>
</ion-card>
