tabs-bar {
    position:fixed;
    bottom:0;
    display:flex;
    height:45px;
    width:100%;
    justify-content:center;
    align-items:center;

    ion-tabs{
        .tabbar{
            height: 100% !important;
            opacity:1 !important;
            background-color:$light-green !important;
            .tab-button{
                flex-direction: row;
                color: $white;
                border-right: 1px solid $white;
                ion-icon{
                    color: $white;
                    padding: 2px 5px;
                    font-size: 5vw;
                    margin: 0px !important;
                }
                &.tab-button:nth-last-child(2){
                    border-right: none !important;
                }
                .tab-button-text{
                    margin: 0px !important;
                    font-size: 3.5vw;
                }
            }
        }
    }
}
.rtl{
    ion-tabs{
        .tab-button{
            border-left: 1px solid $white;
            border-right: none !important;
            &.tab-button:nth-last-child(2){
                border-left: none !important;
            }
        }
    }
}
