<!-- Generated template for the TabsBarComponent component -->
<ion-tabs>
  <ion-tab tabIcon="laptop" tabTitle="{{ 'Advertise' | translate}}" [root]="HomePage"></ion-tab>
  <ion-tab tabIcon="planet" tabTitle="{{ 'Departments' | translate}}" [root]="HomePage"></ion-tab>
  <ion-tab tabIcon="chatboxes" tabTitle="{{ 'Messages' | translate}}" [root]="HomePage"></ion-tab>
</ion-tabs>
