page-home {
    ion-header{
        ion-navbar{
            .toolbar-background {
                background-color: $light-green;
            }
            .button-inner{
                color : $white;
                font-size: 6vw;
            }
            ion-title{
                
                .toolbar-title{
                    display: flex;
                    justify-content: center;
                    color: $white;
                    font-size: 6vw;
                    font-weight: 200 !important;
                }
            }
    
        }
    }
    
    .scroll-content {
        padding: 0px 10px !important;
        margin-bottom: 45px;
    }
        .background-pale {
        background-color  :$light-grey;
        }
        .inner-box{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .box-text{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 5vw;
                width: 90%;
                min-height: 40px !important;
                background-color: $light-green;
                color: $white;
                border-radius: 5px;
                margin: 10px 0px;
                padding: 5px;
                ion-icon{
                    margin : 0px 7px;
                    font-size: 1em !important;
                }
            }
        }
        .row{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width:100%;
            min-height: 550px;
        }
}

.rtl {
}
      

