<ion-header >
       <ion-navbar>
        <ion-title>{{"SARFHA" | translate}}</ion-title>
        <ion-buttons left>
          <button ion-button icon-only (click)="changLang()">
            <ion-icon name="search" ></ion-icon>
          </button>
        </ion-buttons> 
      </ion-navbar>
</ion-header>

<ion-content padding class="background-pale">

    <div class="inner-box">
        <div class="box-text">
            <ion-icon name="pin" ></ion-icon>
            {{"INNER_TEXT" | translate}}
        </div>
    </div>

    <div class="row">
        <info-card [cardData]="object"  *ngFor="let object of detailsArray"></info-card>
    </div>
    
</ion-content>
