
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-list-header color="secondary">
          <h3>  صرفها  </h3>
        </ion-list-header>

        
         
        
      </ion-list>
    </ion-content>

  </ion-menu>


  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" [ngClass]="{'rtl' : this.detailsService.getLang() === 'ar'}"></ion-nav>
 <tabs-bar [ngClass]="{'rtl' : this.detailsService.getLang() === 'ar'}"></tabs-bar>